.student-table {
  display: flex;
  gap: 5px;
  width: 100%;
}

.student-table__left-column {
  flex: 1 1 50%;
  min-width: 0;
  height: var(--content-height);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  border:1px solid var(--border-color);
}

.student-table__right-column {
  flex: 1;
  min-width: 300px;
  transition: width 0.3s ease;
  height: var(--content-height);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  border:1px solid var(--border-color);
}

.student-table__left-column > div,.student-table__right-column >div {
  max-height: var(--content-height);
  padding: 0px;
  margin-bottom: 0;
}
.student-table__left-column > div{
  margin-top: 10px;
}

.menu-button-container {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  margin-bottom: 10px;
}

.table-container {
  overflow-x: auto;
  height: 100%;
  overflow-y: auto;
  max-width: 100%;
  position: relative;
  margin-bottom: 0;
}

.student-table table {
  min-width: 800px;
  max-width: 100%;
  position: relative;
}

.student-table th {
  position: sticky;
  top: 0;
  background: var(--background-secondary);
  color: var(--text-primary);
  z-index: 2;
  padding-top: 16px;
  padding-bottom: 16px;
}

.sort-header {
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.sort-indicator {
  font-size: 0.8rem;
}

.filter-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.filter-row {
  display: flex;
  gap: 8px;
}

.sort-header:hover {
  background-color: var(--background-hover);
}

.student-table td {
  text-align: center;
  vertical-align: middle;
  padding: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.student-table img {
  vertical-align: middle;
} 
@media (max-width: 600px) {
  .student-table {
    flex-direction: column;
  }

  .student-table__left-column {
    flex: 1 1 auto;
    height: auto;
  }

  .student-table__right-column {
    width: 100%;
    overflow-x: auto;
  }
  .student-table__right-column > div>*{
    display: block;
    position: sticky;
    left: 0;
  }
  .student-table__right-column > div>div:nth-child(3){
    overflow-x: auto;
  }
}

@media (prefers-color-scheme: dark) {
  .student-table__left-column,
  .student-table__right-column {
    background-color: var(--background-primary);
  }
}
